@model IEnumerable<UserBooks>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var errorMessage = TempData["ErrorMessage"] as String;
    var successMessage = TempData["SuccessMessage"] as String;
}

<h2>My Books</h2>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

@foreach (var book in Model){
    <li>
        @book.FkBooksNavigation.BookName
        <form asp-controller="MyBooks" asp-action="RemoveBook" method="post">
            <input type="hidden" name="bookId" value="@book.Id" />
            <button type="submit">Remove</button>
        </form>
    </li>
}